<h1>Divvy Station Check</h1>
<%= turbo_frame_tag "stations-view" %>
<div data-controller="presets">
  <h2>Station List</h2>
  <p>To create a list of stations to show, select from below. To save a preset list, open the link in a new tab and bookmark it.</p>
  <div><%= link_to "", "", title: "To save this, you can open in a new window and bookmark it", data: { turbo_frame: "stations-view", presets_target: "customPreset" } %></div>
  <h2>Stations (<%= @stations.length %>)</h2>
  <div data-controller="filtering">
    <div><input type='text' data-action="filtering#filter" data-filtering-target="query" placeholder="Filter stations..." /></div>
    <ul>
      <% @stations.sort_by{|station| station["name"]}.each do |station| %>
        <li data-station-name="<%= station["name"].downcase %>" data-filtering-target="station">
          <%= link_to "#{station["name"]} (#{station["station_id"]})", station_path(station["station_id"]), data: { turbo_frame: "stations-view"}  %>
        <span data-action="click->presets#add_to_preset" data-station-id="<%=station["station_id"]%>">(add to custom preset list)</span>
        </li>
      <% end %>
    </ul>
  </div>
</div>
