<%= turbo_frame_tag "stations-view" do %>
<table style='text-align: center'>
  <thead>
    <tr>
      <th>Station</th>
      <th>Bikes Available</th>
      <th>Docks Available</th>
    </tr>
  </thead>
  <tbody>
    <% @station_details.each do |station| %>
      <tr>
        <td><%= station["name"] %> (<%= station["station_id"] %>)</td>
        <td><%= station["num_bikes_available"] %></td>
        <td><%= station["num_docks_available"] %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<% end %>
<%= link_to "Back", stations_path %>
