<section class='section is-small pt-1 pb-0'>
<div class='message is-small is-info' data-controller="expandable">
  <div class='message-header' data-action="click->expandable#toggle">Click for how To use</div>
  <div class='message-body is-hidden' data-expandable-target="expandableItem">This view of the station is for saving to your bookmark list or your phone's homescreen, so you can get back to your favorite stations easily.</div>
  </div>
</div>
</section>
<section class='section is-small pt-0'>
<%= turbo_frame_tag "stations-view" do %>
<table class='table'>
  <thead>
    <tr>
      <th>Station</th>
      <th>Bikes</th>
      <th>Docks</th>
    </tr>
  </thead>
  <tbody>
    <% @station_details.each do |station| %>
      <tr>
        <td><%= station["name"] %> (<%= station["station_id"] %>)</td>
        <td><%= station["num_bikes_available"] %></td>
        <td><%= station["num_docks_available"] %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<% end %>
</section>
