<%= turbo_frame_tag "stations-view" do %>
<table class='table'>
  <thead>
    <tr>
      <th>Station</th>
      <th>Bikes</th>
      <th>Docks</th>
    </tr>
  </thead>
  <tbody>
    <% @station_details.each do |station| %>
      <tr>
        <td><%= station["name"] %> (<%= station["station_id"] %>)</td>
        <td><%= station["num_bikes_available"] %></td>
        <td><%= station["num_docks_available"] %></td>
      </tr>
    <% end %>
  <tbody>
</table>
<% end %>
