<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Free Dock</title>
    <meta name="author" content="Corey Haines" />
    <meta name="description" content="Check the real-time status of your favorite bikeshare stations. Never arrive at a full station again!" />
    <meta property="og:title" content="Free Dock" />
    <meta property="og:description" content="Check the real-time status of your favorite bikeshare stations. Never arrive at a full station again!" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <section class="hero is-small is-info">
      <div class="hero-body has-text-centered">
        <div class="title">Free Dock</div>
        <div class="subtitle">Never arrive at a full station again!</div>
        <div class="subtitle">Currently Supporting Divvy in Chicago. More Cities Coming Very Soon!</div>
      </div>
    </section>
    <%= yield %>
    <section class='sticky-footer pl-2'>
      &copy;2021 with love by <a href='https://twitter.com/coreyhaines'>Corey Haines</a><br>Not affiliated with <a href="https://www.divvybikes.com/">Divvy Bikes</a>
    </section>
  </body>
</html>
